// import variables
@import 'var';


// IE8

.lt-ie9 {
	
	// ----- General styles

	.sol-hover {
		display: none !important; // This shouldn't show up at all... use classes instead
	}

	.header {
		background-color: $safe-bg-blue;
	}

	.indicator { display: none !important; } // never an indicator (as with hovers, use classes)

	// ----- Layout

	body {
		padding-right: 0;
		padding-left: 0;
	}

	#page {
		margin: 0 auto;
		padding: 0 40px;
		width: 1000px;
	}

	// ----- Header

	.menu {
		a {
			padding: 3px 25px 5px;
			&:active,
			&:hover {
				background: $safe-yellow;
			}
		}
		li.current-menu-item a,
		li.current_page_parent a {
			background: $safe-bg-blue;
		}
	}

	// ----- Main page

	.central {
		background: $safe-bg-blue;
		font-size: 27px;
	}

	#capabilities {
		.more a {
			&:hover,
			&:active {
				background-color: $safe-yellow;
			}
		}
		padding-bottom: 110px;
	}

	.capabilities {
		bottom: -40px;
	}

	.capability { // Image fallbacks for just about everything since border-radius isn't supported
		background-image: url(../images/circle-110-white.png);
		&.active { background-image: url(../images/circle-110-blue.png) !important; }
		&:hover,
		&:active { background-image: url(../images/circle-110-yellow.png); }
		background-position: center center;
		background-repeat: no-repeat;
		border: 0 none;
		padding: 0;
		width: 130px; // set width
		span { 
			background-repeat: no-repeat; 
			background-position: center center;
			font-size: 0 !important; // don't show icomoon icons - use images instead
		}

		&[data-capability="support"] { 
			span { background-image: url(../images/circle-support.png); }
		}
		&[data-capability="design"] { 
			span { background-image: url(../images/circle-design.png); }
		}
		&[data-capability="prototyping"] { 
			span { background-image: url(../images/circle-prototyping.png); }
		}
		&[data-capability="validation"] { 
			span { background-image: url(../images/circle-validation.png); }
		}
		&[data-capability="compliance"] { 
			span { background-image: url(../images/circle-compliance.png); }
		}
		&[data-capability="management"] { 
			span { background-image: url(../images/circle-management.png); }
		}

		.round {
			background: transparent;
			left: 0;
			right: 0;
		}
		.border-clone { display: none; } // no need for it because of images

		h3 {
			font-size: 18px;
		}
	}

	.product {

		.pointer { background: $safe-yellow; }

		h3 {
			font-size: 27px;
		}

		p { 
			float: right;
			font-size: 15px; 
			width: 562px;
		}

		&.gone {
			display: none;
		}

		.close {
			@include border;
			padding-top: 3px;

			&:hover,
			&:active {
				background-color: $safe-yellow;
			}

			.bg-hover {
				display: none;
			}
		}
		.border-clone { display: none; }

	}

	#cboxPrevious,
    #cboxNext,
    #cboxClose {
        &:hover {
            background: $safe-yellow; 
        }
    }  

	.sample {
		span { // icon-plus
			display: none;
		}
		&:hover,
		&:active {
			span {
				display: block;
			}
		}
	}

	// ----- Capabilities

	#full_capabilities {
		margin-left: #{$icon_ie/2};
	}
	
	.icons {
		width: $icon_ie;

		a {
			background-image: url(../images/circle-120-outline.png);
			background-repeat: no-repeat;
			height: $icon_ie;
			width: $icon_ie;
			
			.border-clone { 
				background-repeat: no-repeat;
				border: 0; 
				height: $icon_ie;
				width: $icon_ie;

				&:before { content: '' !important; } // don't show icomoon - use images instead
			}
			&[href="#support"] { .border-clone { background-image: url(../images/circle-support.png); } }
			&[href="#design"] { .border-clone { background-image: url(../images/circle-design.png); } }
			&[href="#prototyping"] { .border-clone { background-image: url(../images/circle-prototyping.png); } }
			&[href="#validation"] { .border-clone { background-image: url(../images/circle-validation.png); } }
			&[href="#compliance"] { .border-clone { background-image: url(../images/circle-compliance.png); } }
			&[href="#management"] { .border-clone { background-image: url(../images/circle-management.png); } }

			&:hover,
			&:active {
				background-image: url(../images/circle-110-yellow.png);
			}
			
			&.active {
				background-image: url(../images/circle-110-blue.png);
			}

		}
	}

	.learn { // "Learn more about our process"
		color: #000;
		&:hover,
		&:active {
			background-color: $safe-yellow;
		}
	}

	// ----- process

	#process {

		.step {
			height: 220px;
			margin-bottom: -220px;

			&.shown { margin-bottom: 0; } // need to reiterate
		}

		.line {
			height: 220px;
		}

		h3 {
			background-image: url(../images/circle-55-white.png);
			height: 55px;
			padding-top: 8px;
			width: 55px;

			.border-clone { display: none; }

			span {
				background-image: url(../images/circle-55-outline.png);
				position: absolute;
				height: 55px;
				left: 0;
				padding-top: 8px;
				top: 0;
				width: 55px;
			}

			.icon-pencil:before {
				top: 3px;
			}
		}

		.bar { 
			display: none; // problems with animating, so hide and show instead
		}
		.step-1 .bar { display: block; } // first one must be shown, of course

		.active {
			h3 {
				background-image: url(../images/circle-55-yellow.png);
			}
		}

		.final {
			h3 {
				background-image: url(../images/circle-55-blue.png) !important;
			}
		}

		p { font-size: 14px; }
	}

	// ----- news

	.meta {
		.link {
			a {
				color: #000;
				&:hover,
				&:active {
					background-color: $safe-yellow;
				}
			}
		}
	}

	.date {
		border: 0;
		background: transparent url(../images/circle-100-outline.png) no-repeat;
	}

	.share {
		a {
			&:hover,
			&:active {
				color: $safe-bg-blue;
			}
		}
	}

	.pagination {
		a {
			color: #000;
			&:hover,
			&:active {
				background-color: $safe-yellow;
			}
		}
	}

	// ----- contact

	.map {
		.container { // no spotlight on the map
			display: none;
		}
	}

	.team {
		p {
			font-size: 14px;
		}
	}

	// ----- footer

	.footer-news {
		&:hover,
		&:active {
			background-color: $safe-yellow;
		}

		a {
			color: #000;
			padding-bottom: 20px;
		}

		abbr { // the date
			border: 0;
			background: url(../images/circle-55-outline.png) no-repeat;
			height: 55px;
			margin-right: -55px;
			padding-top: 18px;
			width: 55px;
		}

		h3 {
			font-size: 16px;
		}
	}

	.archive {
		&:hover,
		&:active {
			background-color: $safe-yellow;
		}
	}

	.secondary {
		height: 64px;
	}

}


// IE7

.lt-ie8 {

	.ie7 { display: block; }

	// ----- General

	.header {
		display: inline;
	}

	#page {
		width: 960px;
	}

	// ----- Header

	.menu {
		li { // The top border doesn't show up on the links, so switching it to the li here
			@include border;
			&:active,
			&:hover {
				background: $safe-yellow;
			}

			a {
				background: transparent !important;
				border: 0;
			}
			&.current-menu-item,
			&.current_page_parent {
				background: $safe-bg-blue !important; // !important to override hovers, as above
			}
		}
	}

	// ----- Main page

	#capabilities {
		& > .border-clone { // lets the header text show properly
			border-right: 0;
			border-bottom: 0;
			border-left: 0;
			height: 2px;
			display: block;
			top: -2px;
		}
	}

	.capability {
		float: left;
		margin: 0 6px;
		width: 144px;

		span {
			height: 120px;

			span {
				display: none;
			}
		}
	}

	#featured {
		& > .border-clone {
			border-right: 0;
			border-bottom: 0;
			border-left: 0;
			height: 2px;
			display: block;
			top: -2px;
		}
	}

	#fulls {
		padding-top: 60px;

		.border-clone {
			border-right: 0;
			border-bottom: 0;
			border-left: 0;
			height: 2px;
			display: block;
			top: -4px;
		}
	}

	.product {
		p {
			width: 614px;
		}
	}

	.pointers {
		top: -30px;
	}

	.pointer {
		left: -5px;
	}

	#cboxLoadedContent {
		margin-bottom: 42px;
	}

	#cboxPrevious,
	#cboxNext,
	#cboxClose {
		background-repeat: no-repeat;
		background-position: 5px 5px;
		display: block;
		height: 30px;
	}

	#cboxPrevious {
		background-image: url(../images/prev-ie7.png);
		width: 45px;
	}

	#cboxNext {
		background-image: url(../images/next-ie7.png);
		left: 55px;
		width: 45px;
	}

	#cboxClose {
		background-image: url(../images/close-ie7.png);
		right: 8px;
		width: 30px;
	}

	.close {
		background-image: url(../images/close-ie7.png);
		background-position: 5px 5px;
		background-repeat: no-repeat;
		@include border;
		height: 30px;
		padding: 0;
		width: 30px;

		&:hover,
		&:active {
			background-color: $safe-yellow;
		}

		.bg-hover {
			display: none;
		}
		.border-clone { display: none !important; }
	}

	// ----- Capabilities

	.page-template-pagescapabilities-php #main {
		margin-top: 110px; // section not adding in margin-top for some reason?
	}					   // so adding it to #main instead

	.icons {
		span { 
			display: none;
		}
	}

	#full_capabilities {
		p.point {
			width: 200px;
		}

		p.description {
			width: 480px;
		}
	}

	.icons {
		top: 90px;
	}

	.learn {
		@include border;
		&:active,
		&:hover {
			background: $safe-yellow;
		}

		a { border: 0; }
	}

	// ----- Process

	.page-template-pagesprocess-php #main { margin-top: 105px; }

	#process {

		h3, span { 
			background-repeat: no-repeat; 
			height: 47px; // no box-sizing, remember? but still need that padding
		}

		.step {
			.border-clone {
				border-right: 0;
				border-bottom: 0;
				border-left: 0;
				height: 2px;
				display: block;
				top: -2px;
			}

			h3 .border-clone { display: none; } // inserted via jQuery to help with indicator

			h4.header { width: 250px; }
			.bar { width: 120px; }

			&.step-2, &.step-3, &.step-4, &.step-5, &.step-6, &.step-7 {
				.bar {
					left: 360px;
				}
			}
		}
	}

	// ----- News

	.blog #main { margin-top: 35px; }

	.date {
		margin-bottom: -25px;
	}

	.share > a {
		width: 70px;
	}

	.meta {
		.link {
			@include border;
			&:active,
			&:hover {
				background: $safe-yellow;
			}

			a { 
				background: transparent !important;
				border: 0;
			}
		}
	}

	.pagination {
		.wrapper {
			@include border;
			float: left;

			&:active,
			&:hover {
				background: $safe-yellow;
			}
			a { 
				border: 0;
				background: transparent !important; 
			}
		}
	}

	// ----- Contact

	section.team {

		.border-clone {
			border-right: 0;
			border-bottom: 0;
			border-left: 0;
			height: 2px;
			display: block;
			top: -2px;
		}

		.member.first {
			margin-top: 40px;
		}
	}

	// ----- Footer

	.primary {
		margin-bottom: 70px;
	}

	#footer-news,
	#contact {

		& > .border-clone {
			border-right: 0;
			border-bottom: 0;
			border-left: 0;
			height: 2px;
			display: block;
			top: -2px;
		}
	}

	#footer-news > .clearfix,
	#contact .contact {
		border: 0;
		margin-top: 30px;
	}

	.footer-news {
		@include border;
		padding-right: 20px;
		width: 283px;

		a { border: 0; }

		.border-clone {
			display: none;
		}
	}

	.archive {
		@include border;
		clear: both;
		margin-top: 20px;

		a { 
			border: 0; 
			margin-bottom: 0;
		}
	}

	.secondary { height: 44px; }

}